@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:ital,wght@1,300&family=Sacramento&display=swap');
body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color:#345B63;
}
.top{
  background-color: #D4ECDD;
  position:relative;
}
h1{
  margin-top:0;
font-family: 'Sacramento', cursive;
font-size: 60px;
}
h3{
  font-family: 'Montserrat', sans-serif;

}
.bottom-cloud{
position:absolute;
  width:200px;
  margin-right: 300px;
}

.top-cloud{
  margin:20px 0px 20px 500px ;
  width:200px;
}
.comp {
  border-radius: 80%;
}
